@import url('https://fonts.googleapis.com/css?family=Catamaran');

body {
  margin: 0;
  padding: 0;
  font-family: "Catamaran" !important;
}

html * {
  font-family: "Catamaran";
}

h1, h2, h3, h4 {
    font-family: "Catamaran" !important;
}
